.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 3px;
    background: rgb(131,131,131);
    background: linear-gradient(347deg, rgba(131,131,131,0.3) 0%, rgba(179,179,179,0.3) 51%, rgba(255,255,255,0.3) 100%);
}

.movieShortInfo {
    width: 300px;
    margin: 30px;
}

.image {
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    margin-left: 30px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.title {
    font-size: 20pt;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.likeBar {
    display: flex;
}

.likeBar *{
    margin: 5px;
}

* {
    user-select: none;
}

.navBar {
    display: flex;
}

.navBar * {
    margin: 15px;
}

.search {
    width: 100%;
}
