$background-color: #21232e;
$background-image: url(../img/m-h-night.jpg);
$before-color: #ff4e33;
$text-color1: white;
$btn-bg-color: #e3ac00;
$section-footer-bg-color: #3b3f50;
$banner-gradient-color1: #dda306;
$banner-gradient-color2: #942e51;
$font-weights: ("l": lighter, "b": bold, "m": 600);