$background-color: white;
$background-image: url(../img/m-h-day.jpg);
$before-color: #14a0c7;
$text-color1: #2c2f3c;
$btn-bg-color: #699900;
$section-footer-bg-color: #21232e;
$banner-gradient-color1: rgba(103,150,11,1);
$banner-gradient-color2: rgba(45,91,216,1);
$font-weights: ("l": lighter, "b": bold, "m": 600);