@import "mixins";
@import "variables";
@import "bootstrap-settings";

.form-server {
  font: $font-fam;
  letter-spacing: $letter-space;
  color: $font-color-dark;

  margin: 30px auto 20px;
  width: 50%;

  input[aria-label]{
    height: 50px;
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 0 15px;
  }

  textarea {
    width: 100%;
    margin: 10px 0 20px 0;
    height: 300px;
    padding: 15px;
  }

  select {
    width: 30%;
    margin: 10px 0 20px 0;
  }

  &__btn {
    background-color: $font-color-light;
    width: 200px;
    height: 50px;
    font-size: 100%;
  }

  #date {
    background-color: #fde0ff;
  }
}

.but-1:hover,
.but-1--hovered,
.but-2:hover,
.but-2--hovered {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #393737;
}
